table{
    border: gray solid;
    border-spacing: 0;
    width: 500px;
    height: 500px;
    counter-reset: numbers 65;
}
td{
    font-size: 45px;
    text-align: center;
}
td::before {
    counter-increment: numbers -1;
    content: counter(numbers);
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: black;
    color: white;
}
tr:nth-child(odd) td:nth-child(even){
    background-color: black;
    color: white;
}
