body{
    width: 700px;
}
#div1{
    text-align: right;
}
#div2{
    font-family: 'Bad Script', cursive;
    text-indent: 30px;
}
.text_italic{
    font-style: italic;
    margin: 0;
}
.text_inside{
    margin: 0;
}
.text_underline{
    text-decoration: underline;
}
