.main{
    display: flex;
    flex-direction: column;
}
.main_page{
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.main_page > .navi_block {
    flex: 0 0 15em;
}
.main_page > .main_content{
    flex: 1 1 550px;
}
.navi_block{
    background-color: lightgray;
    height: max-content;
}
.article{
    background-color: darkcyan;
    margin: 0 0 .2em .2em;
}
.article_header{
    margin-top: 0;
}
.article_part{
    margin: 0;
}
.icon_mail{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer{
    background-color: lightgray;
    width: 100%;
}
.clear{
    clear: both;
}